

div {
    max-width: 100%;
    //border: 1px solid blue;
    //margin: 2px;
    padding: 0px; 
}

body {
    //display: inline;
    //justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;

    #header {
        background-color: rgb(233, 173, 167);
        height: 10px;
    }

    .middle_outer {
        min-width: 100%;
        display: flex;
        justify-content: center;
    }

    .middle_inner {
        width: 83%;
        max-width: 850px;
        min-width: 500px;
        //border: 3px solid black;
        box-shadow: 5px 5px 10px black;
        display: flex;
        flex-direction: row;
        font-family: "DM Sans";

        .left {
            max-width: 40px;
            width: 40px;
            background-color: aliceblue; //#af9221;
            border-left: 5px solid #af9221;
            //margin: 2px;
        }
        .content {
            width: 100%;
            max-width: 850px;
            background-color: aliceblue;

            .headliner {
                text-align: center;
                line-height: 0;
                padding-top: 25px;
                //margin: 2px;

                .my_name {
                    text-transform: uppercase;
                    //font-size: 2vh;
                    min-height: 4vh;
                    span { color: #af9221; }
                }
                
                .classification_line {
                    justify-content: space-evenly;
                    display: flex;
                    text-transform: uppercase;
                    font-size: 80%;
                    min-height: 2.8vh;
                    div { width: 50%; }
                }

                .contact_line {
                    justify-content: center;
                    display: flex;
                    height: 10%;
                    font-size: 66%;

                    div { min-width: 24% }
                    .cell {
                        border-left: 3px solid #af9221;
                        border-right: 3px solid #af9221;
                        border-radius: 5px;
                        margin-left: 1.5%;
                        margin-right: 1.5%;
                    }
                }
            }

            .resume_content{
                padding: 1% 1% 25px 1%;  
                line-height: 0;

                .title {
                    text-transform: uppercase; 
                    border-top: 3px solid #af9221;
                    font-size: 90%;
                    font-weight: bold;
                    line-height: 1;
                    min-height: 3vh;
                    //overflow-y: visible;
                }

                .degree, .work_position {
                    display: flex;
                    justify-content: space-between;
                }

                p {
                    font-size: x-small;
                }
            }
        }

        .right {
            max-width: 40px;
            width: 33px;
            background-color: aliceblue; //#af9221;
            border-right: 5px solid #af9221;
            //margin: 2px;
        }
    }

    .footer {
        background-color: rgb(233, 173, 167);
    }
}



