div {
  max-width: 100%;
  padding: 0px;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body #header {
  background-color: #e9ada7;
  height: 10px;
}

body .middle_outer {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

body .middle_inner {
  width: 83%;
  max-width: 850px;
  min-width: 500px;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "DM Sans";
}

body .middle_inner .left {
  max-width: 40px;
  width: 40px;
  background-color: aliceblue;
  border-left: 5px solid #af9221;
}

body .middle_inner .content {
  width: 100%;
  max-width: 850px;
  background-color: aliceblue;
}

body .middle_inner .content .headliner {
  text-align: center;
  line-height: 0;
  padding-top: 25px;
}

body .middle_inner .content .headliner .my_name {
  text-transform: uppercase;
  min-height: 4vh;
}

body .middle_inner .content .headliner .my_name span {
  color: #af9221;
}

body .middle_inner .content .headliner .classification_line {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 80%;
  min-height: 2.8vh;
}

body .middle_inner .content .headliner .classification_line div {
  width: 50%;
}

body .middle_inner .content .headliner .contact_line {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  font-size: 66%;
}

body .middle_inner .content .headliner .contact_line div {
  min-width: 24%;
}

body .middle_inner .content .headliner .contact_line .cell {
  border-left: 3px solid #af9221;
  border-right: 3px solid #af9221;
  border-radius: 5px;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

body .middle_inner .content .resume_content {
  padding: 1% 1% 25px 1%;
  line-height: 0;
}

body .middle_inner .content .resume_content .title {
  text-transform: uppercase;
  border-top: 3px solid #af9221;
  font-size: 90%;
  font-weight: bold;
  line-height: 1;
  min-height: 3vh;
}

body .middle_inner .content .resume_content .degree, body .middle_inner .content .resume_content .work_position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .middle_inner .content .resume_content p {
  font-size: x-small;
}

body .middle_inner .right {
  max-width: 40px;
  width: 33px;
  background-color: aliceblue;
  border-right: 5px solid #af9221;
}

body .footer {
  background-color: #e9ada7;
}
/*# sourceMappingURL=resume_ss.css.map */