---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title = "404: Not Found" includeSidebar={false}>
  <div class="text-center postGif">
    <div class="max-w-full flex justify-center items-center">
      {
        <Image
          src="/goodBye.gif"
          width={750}
          height={422}
          alt="Nothing to see here"
          class="md:max-w-[13rem] rounded-lg"
          data-image="gif"
        />
      }
    </div>
    
    <h1 class="text-9xl font-bold mb-2">404</h1>
    <h3 class="text-2xl">The page you're looking for couldn't be found.</h3>
    <a class="btn btn-accent mt-9" href="/">Home</a>
  </div>
</BaseLayout>
