---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    An AWS certified Software Engineer graduate with DevOps experience, and a great interest in improving his communication skills, business & financial acumen.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Honours Bachelor of Software Development"
      subtitle="2016 to 2022 at Seneca @ York University, Toronto, ON, Canada"
    />
    <TimeLineElement
      title="Highschool Diploma"
      subtitle="2012 to 2015 at Sandalwood Heights Secondary School, Brampton, ON, Canada"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Lead Hand -> Sales Manager"
      subtitle="From March 2024 to Present at FabriX Inc., Toronto, ON, Canada"
    >
      ARCNOVA Inc. expanded and established a new manufacturing-focused branch, named FabriX. In efforts to generate more business growth, a sales team is in the process of 
      being developed and trained.
    </TimeLineElement>
    <TimeLineElement
      title="Lead Hand"
      subtitle="From January 2021 to March 2024 at ARCNOVA Inc., Toronto, ON, Canada"
    >
      Utilize CNC Machines to fabricate ACM panels, as well as operate other large machinery and power-operated tools, without supervision, while operating as the Lead Hand. 
      Support daily developments through implementing morning workshop organization & maintenance. 
      Organize shipment structures and product packaging to improve storage space utilization from 76% to 89%. 
      Oversee mock-up developments, delegating tasks, and fill positions when needed, thus changing the forecasted team size from 6 associates to 4. 
      Prioritize safety in the workplace by the shared implementation of safer procedures and appropriate education. 
    </TimeLineElement>
    <TimeLineElement
      title="IT Administrator (Co-op)"
      subtitle="From March 2021 to December 2021 at ARCNOVA Inc., Toronto, ON, Canada"
    >
      Developed good rapport. Exercised good communication. Performed with efficiency and effictively while promoting professionalism. Utilized Microsoft Office (Outlook, 
      Excel, Word). Built several desktop computers for the office; from individual PC components to a working desktop, supporting my colleagues through
      the additional install and configuration of desired Operating Systems and Software. Provided additional support through the troubleshooting of hardware, software, and 
      network connectivity. Documented troubleshooting procedures to aid colleagues. Collaborated with the office to support any and all projects/ initiatives. 
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Developer (Co-op)"
      subtitle="From September 2020 to December 2020 at FliteX Inc., Toronto, ON, Canada"
    >
      Established processes of proper infrastructure documentation, thus improving a new hire’s ability to get up to speed by at least 60% based on weekly sprints. 
      Integrated a team of 6-7 with the use of collaborative software, like Google Docs and Slack. 
      Migrated a 3-tier application between servers through Lift & Shift method (back up and restore). 
      Created multiple CRON jobs and scripts to scrub redundant data and maintain server organization. 
      Spearheaded application refactoring to be scalable & modular through use of Docker containers, NGINX, and Kubernetes orchestration in IBM cloud. 
      Identified and addressed data bottlenecks in the development process, improving deployment by 40%. 
      Created and resized partitions, including RAID, to work with PostgreSQL databases. 
      Performed system updates and maintenance using UNIX scripts, Yum, and RPM. 
    </TimeLineElement>
    <TimeLineElement
      title="Cashier -> Front-end Supervisor"
      subtitle="From June 2019 to July 2021 at FreshCo, Toronto, ON, Canada"
    >
    Assisted customers, solved various issues, and investigated discrepancies, staying in contact for support. 
    Filled 1-2 positions when needed, while prioritizing the flow and record keeping of store profits. 
    Counted and handled cash over $15000 on a daily basis and responsibly deposited store profits. 
    Organized scheduling of 6-10 employees, created several reports on daily/ weekly developments, and utilized the store’s CCTV to manage floor developments or work with greater authorities.
    </TimeLineElement>
    <TimeLineElement
      title="Freelancer"
      subtitle="From June 2018 to September 2019 at CTX Group, Toronto, ON, Canada"
    >
      Operated as an on-call Front-end developer,  to support the web development of a MERN stack by building web pages, creating assets and services.
      Built pages using HTML, CSS, SASS, JS, Bootstrap, and React. Learned to integrate third-party APIs.
      Utilized Agile methodologies, in a team of 5, to achieve goals in sprints.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.credly.com/badges/29cedcf8-33dc-48a2-8429-672cdd4d7de4" target="_blank"> AWS - Certified Solutions Architect - Associate</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Windows 7, 10</li>
    <li>Ubuntu</li>
    <li>CentOS</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>AWS</li>
    <li>Terraform</li>
    <li>Github</li>
    <li>Jenkins</li>
    <li>Python</li>
    <li>Java</li>
    <li>JS & TS</li>
    <li>HTML, CSS</li>
    <li>React</li>
    <li>PostgreSQL</li>
  </ul>
</BaseLayout>
