---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header Goes Here</div>
  </div>

  <HorizontalCard
    title="Jordan's Project #1"
    img="/workInProgress.png"
    desc="Testing... 1-2-3..."
    url="#"
    badge="NEW"
    id=" postGif"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Jordan's Project #2"
    img="/workInProgress.png"
    desc="Testing... 1-2-3..."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header Goes Here </div>
  </div>

  <HorizontalCard
    title="Project #3"
    img="/workInProgress.png"
    desc="Testing... 1-2-3..."
    url="#"
    badge="Stuff"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Project #4"
    img="/workInProgress.png"
    desc="Testing... 1-2-3..."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Project #5"
    img="/workInProgress.png"
    desc="Testing... 1-2-3..."
    url="#"
  />
</BaseLayout>
